@model  MessengerAPI.Models.MessengerModel.OldMessages
<html>
<head>
    <meta charset="utf-8" />
    <title></title>


</head>
<body>
    <input type="text" placeholder="Message" id="messText" />
    <input type="button" value="Send" id="messInput" />
    <div>
        <ul id="Messages">
            @foreach (var item in Model.oldMessages)
    {
        if (Model.Sender.UserId == item.SenderId)
        {
            <h4>
                @Model.Sender.UserName
            </h4>
            <li> @item.MessageDate @item.MessageContent</li>}
if (Model.Receiver.UserId == item.SenderId)

{
            <h4>
                @Model.Receiver.UserName
            </h4>
        <li>  @item.MessageDate @item.MessageContent</li>}

        @*if(item.SenderId==Convert.ToInt32(Session["user_id"]))
    <p> @item.MessageContent </p>*@


}
        </ul>
    </div>
    @section Scripts{
        <script src="~/Scripts/jquery-1.6.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            var chatProxy = $.connection.Chat;


            $.connection.hub.start().done(function () {
                // Wire up Send button to call NewContosoChatMessage on the server.
                $('#messInput').click(function () {
                    chatProxy.server.sendmessage($("#messText").val(),
                      @Model.Receiver.UserId ,
                        @Session["user_id"]);
                    $('#messText').val('').focus();
                });

            });
           
            chatProxy.client.send = function (message, name) {
                console.log("Client method");
                $('#Messages').append('<h4>' + name + '</h4><li>' + message + '</li>');


            }

            


        </script>
    }
</body>
</html>